@charset "UTF-8";
*{margin:0;padding:0;border:0;box-sizing:border-box;}
body{background: url("fondoespacial.jpg");background-size: cover;}
header{
    color: white;
    height:10vh;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.46em;
}
.centro{
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
}
nav, main{
    float:left;
    height:85vh;
    background-color:rgb(181, 255, 131);
}
nav{
    width:15%;
    background-color:rgb(99, 207, 99);
    border-radius: 15px;
}
nav div{
    display: grid;
    text-align: center;
    background-color: blueviolet;
    margin: 5%;
    color:white;
}
main{
    float:right;
    width:84%;
    background-color:rgb(138, 255, 239);
    border-radius: 15px;
}
#marcoPrincipal{
    width:85%;
    height:100%;
    border:0;
}
footer{
    display: flex;
    align-items: center;
    clear:both;
    height:5vh;
    background-color:rgb(130, 169, 255);
}
a{
    line-height: 40px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
iframe{
    height:100%;
    width:100%;
}