*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}
#imagen{
    width: 20%;
    height:100%;
}
#texto{
    width: 80%;
    height:100%;
    text-align: justify;
}
img{
    width: 20vw;
}