* {margin: 0; padding: 0; border: 0; box-sizing: border-box;} /* border-box: incluir el borde dentro del tamaño de la division */


#capa1,#capa2,#capa3,#capa4,#capa5,#capa6,#capa7,#capa8,#capa9{
	border: 1px solid black;
	float: left;
	width: 25%;
}

#capa1,#capa2,#capa6,#capa7,#capa8,#capa9{
	height: 25vh;
}

#capa3,#capa4,#capa5{
	height: 50vh;
	color: white;
}


#capa1{
	background-color: yellow;
}

#capa2{
	background-color: magenta;
	width: 75%;
}

#capa3{
	background-color: darkblue;
	width: 50%;
}

#capa4{
	background-color: darkgreen;
}

#capa5{
	background-color: black;
}

#capa6{
	background-color: darkcyan;
}

#capa7{
	background-color: orange;
}

#capa8{
	background-color: lightblue;
}

#capa9{
	background-color: grey;
}