body{
	background-color: #004007;
	background-image: url("https://w0.peakpx.com/wallpaper/558/643/HD-wallpaper-cauliflower-lot.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-attachment: fixed;
}

table{
	border: 6px solid black;
	border-style: inset;
	border-color: ;
	text-align: center;
	margin: auto;
	font-weight: bold;
	border-collapse: collapse;
}
td{
	border: 1px solid black;
	max-width: 30px;
	min-width: 30px;
}
tr:nth-child(even){
	background-color: #eaeaea;
	color: #59cb65;
	font-family: "Times New Roman", Times, serif;
}
tr:nth-child(odd){
	background-color: #59cb65;
	color:  #eaeaea;
	font-family: "Times New Roman", Times, serif;
}
